<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disablesrcControlIntegration" value="true" />
    <clear />
    <add key="xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
    <add key="AspNetVNext" value="https://www.myget.org/f/aspnetmaster/api/v3/index.json" />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />    
  </solution>  
</configuration>